$color-W : rgb(255, 255, 255);
$base-color: rgb(98, 69, 69);
$color-Bv : rgb(138, 43, 226);
$color-1 : #1d518d;
$color-2 : rgb(249, 245, 245);
$color-3 : #2183a2;
$color-4 : #b2bec3;
$color-5 : rebeccapurple;
$color-6 : rgb(200, 71, 24);
$color-7 : blueviolet;
$color-8 : rgb(241, 206, 206); 
$color-9 : darkgrey;
$color-10 : #305768;
$color-11 : #16151b;
$color-12 : #ff9f43;


$color-btn: ("1":$color-3, "2":$color-4, "3":$color-5, "4":$color-6);
$color-btn1: ("1":$color-1, "2":$color-2, "3":$color-3, "4":$color-4);