*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Macondo', cursive;
}

@mixin tam_T {
    width: 100px;
    height: 100px;
}

@mixin tam_T_Porc {
    width: 100%;
    height: 100%;
}

.logo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}